<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Screener</title>
    <style>
        table {
            font-family: Menlo, system-ui;
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 0 solid black;
        }

        th, td {
            padding: 10px;
        }

        th, td {
            text-align: right;
        }

        thead {
            color: #0055cc;
        }

        th {
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
    </script>
</head>
<body>
<div class="table-responsive">
    <form method="POST" action="/query_ticker">
        <div class="form-group">
            <label for="ticker">Enter a ticker</label>
            <input type="text" id="ticker" name="ticker" value="nvda" class="form-control" aria-describedby="tickerHelp"
                   placeholder="nvda">
            <small id="tickerHelp" class="form-text text-muted">We'll never share your query history with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="trade_date">Trade day</label>
            <input type="date" id="trade_date" name="trade_date" class="form-control" value="2023-07-05"
                   min="2023-06-10" max="2023-7-31">
        </div>
        <button type="submit" id="query" name="query" class="btn btn-primary" style="background-color: #0055cc">
            Query
        </button>
    </form>

    {{ table|safe }}
</div>
</body>
</html>