<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Screener</title>
    <style>
        table {
            font-family: Menlo, system-ui;
            color: #0055cc;
            border-collapse: collapse;
        }

        table, th, td {
            border: 0 solid black;
        }

        th, td {
            padding: 5px;
        }

        th, td {
            text-align: right;
        }

        thead {
            color: #0055cc;
        }

        th {
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
    </script>
</head>
<body>

<form method="POST" action="/query_ticker" style="margin: 2%">
    <div class="form-group">
        <label for="trade_date">Pick a trade day</label>
        <input type="date" id="trade_date" name="trade_date" class="form-control" value="2023-07-05"
               min="2023-06-10" max="2023-12-31" aria-describedby="tickerHelp">
        <small id="tickerHelp" class="form-text text-muted">We'll never share your query history with anyone
            else.</small>
    </div>
    <div style="text-align: right;">
        <button type="submit" id="query" name="query" class="btn btn-primary" style="background-color: #0055cc">
            Query
        </button>
    </div>
</form>
<div class="table-responsive table-striped" style="margin: 2%">
    {{ table|safe }}
</div>
</body>
</html>