<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tradingview Screener</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/stock_style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='static/stock.js')}}"></script>
</head>
<body>
<header>
    <p class="h2">Trade time screener</p>
</header>
<main>
    <form id="pickInterval" method="POST" action="/queryTradingview" class="form">
        <input type="hidden" name="interval" id="interval" value="" aria-describedby="tickerHelp">
        <nav aria-label="Intervals from tradingview">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="setInterval('1m')">1m</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="setInterval('5m')">5m</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="setInterval('15m')">15m</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="setInterval('1h')">1h</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="setInterval('1d')">1d</a></li>
            </ul>
        </nav>
        <small id="tickerHelp" class="form-text text-muted">
            Please pick a interval<br>
            請選擇交易间隔
        </small>
    </form>


    <table id="stockScreener" class="table-responsive table-striped table">
        <thead>
        <tr>
            <th style="width: 15%">Ticker</th>
            <th style="width: 15%;">Latest price</th>
            <th>Recommend</th>
            <th style="width: 15%">Buy</th>
            <th style="width: 15%">Neutral</th>
            <th style="width: 15%">Sell</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            {% for col in row %}
            <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>