form {
    margin: 1rem;
}

table {
    width: fit-content;
    margin: 1rem;
}

table, th, td {
    border: 0 solid black;
}

th, td {
    padding: 0.125rem;
}

th {
    font-weight: bold;
}

tr {
    text-align: center;
}

td {
    font-family: Menlo, system-ui;
    text-align: right;
}

thead {
    color: #0055cc;
}

li {
    width: 4rem;
    text-align: center;
}

.pagination {
    display: inline-flex;
}

.page-item {
}

.page-link {
    color: #0055cc;
}

.page-link:hover {
    color: #0055cc;
}

.page-link:active, .page-link:focus {
    color: #ffffff;
    background-color: #0055cc;
}

.interval-selection {
    color: #0055cc;
}

.signal {
    font-size: 0.75rem;
    padding: 0.10rem 0.25rem 0.10rem 0.25rem;
    border-radius: 0.25rem;
    color: #ffffff;
}

.strong-buy {
    background-color: #0055cc;
}

.buy {
    background-color: #724fcb;
}

.neutral {
    background-color: #a844c2;
}

.sell {
    background-color: #d138b2;
}

.strong-sell {
    background-color: #ff2f92;
}