<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tradingview Screener</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script type="text/javascript" src="{{url_for('static', filename='stock.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stock_style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<header>
    <p class="h2">Notification by email</p>
</header>
<main>
    <form id="startEmailNotification" method="POST" action="/startEmailNotification" class="form">
        <div class="form-group">
            <label for="email">Your email to subscribe</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="tickerHelp">
            <small id="tickerHelp" class="form-text text-muted">
                No human will see your email<br>
                你的信息始終絕密
            </small>
        </div>
        <div class="form-group">
            <label for="interval">Interval</label>
            <select class="form-control" id="interval" name="interval">
                <option>1m</option>
                <option>5m</option>
                <option>15m</option>
                <option>30m</option>
                <option>60m</option>
                <option>1d</option>
            </select>
        </div>
        <div style="text-align: right;">
            <a type="submit" id="subscribe_email" name="subscribe_email" class="btn btn-primary" style="background-color: #0055cc;" onclick="setIntervalAndEmail()">
                Subscribe
            </a>
        </div>
    </form>
</main>
</body>
</html>