<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Screener</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stock_style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='stock.js')}}"></script>
</head>
<body>
<header>
    <p class="h2">Trade time price screener</p>
</header>
<main>
    <form method="POST" action="/query" class="form">
        <div class="form-group">
            <label for="trade_date">Pick a trade date</label>
            <input type="date" id="trade_date" name="trade_date" class="form-control"
                   value="2023-07-12"
                   min="2023-07-01" max="2023-12-31" aria-describedby="tickerHelp">
            <small id="tickerHelp" class="form-text text-muted">
                Please pick a valid US trade date<br>請選擇一個美股交易日
            </small>
        </div>
        <div style="text-align: right;">
            <button type="submit" id="query" name="query" class="btn btn-primary" style="background-color: #0055cc;">
                Query
            </button>
        </div>
    </form>
    <div class="table-responsive" style="display: -webkit-inline-flex; width: fit-content;">
        <table id="stockScreenerPrice" class="table table-striped">
            <thead>
            <tr>
                <th style="width: 5%">Ticker</th>
                <th style="width: 5%">CRSI</th>
                <th style="width: 5%; font-weight: bold;">Latest price</th>
                <th>Buy<br>1m</th>
                <th>Sell<br>1m</th>
                <th>Buy<br>15m</th>
                <th>Sell<br>15m</th>
                <th>Buy<br>30m</th>
                <th>Sell<br>30m</th>
                <th>Buy<br>60m</th>
                <th>Sell<br>60m</th>
                <th>Buy<br>1d</th>
                <th>Sell<br>1d</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
            <tr>
                {% for col in row %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</main>
</body>
</html>