<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tradingview Screener</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stock_style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='stock.js')}}"></script>
</head>
<body>
<header>
    <p class="h2">Trade time rating screener</p>
</header>
<main>
    <form id="pickInterval" method="POST" action="/queryTradingview" class="form">
        <input type="hidden" name="interval" id="interval" value="" aria-describedby="tickerHelp">
        <nav aria-label="Intervals from tradingview">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" onclick="setInterval('1m')"><span class="interval-selection">1m</span></a></li>
                <li class="page-item"><a class="page-link" onclick="setInterval('5m')"><span class="interval-selection">5m</span></a></li>
                <li class="page-item"><a class="page-link" onclick="setInterval('15m')"><span class="interval-selection">15m</span></a></li>
                <li class="page-item"><a class="page-link" onclick="setInterval('30m')"><span class="interval-selection">30m</span></a></li>
                <li class="page-item"><a class="page-link" onclick="setInterval('1h')"><span class="interval-selection">1h</span></a></li>
                <li class="page-item"><a class="page-link" onclick="setInterval('1d')"><span class="interval-selection">1d</span></a></li>
            </ul>
        </nav>
        <small id="tickerHelp" class="form-text text-muted">
            Please pick a interval<br>
            請選擇交易间隔
        </small>
    </form>

    <div class="table-responsive" style="display: -webkit-inline-flex">
        <table id="stockScreenerRating" class="table table-striped">
            <thead>
            <tr>
                <th>Ticker</th>
                <th style="width: 15%">Latest price<br>Change</th>
                <th>Recommend</th>
                <th style="width: 15%">Buy</th>
                <th style="width: 15%">Neutral</th>
                <th style="width: 15%">Sell</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
            <tr>
                {% for col in row %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>